
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Azeret Mono', sans-serif;
}
.navbar {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  /* padding, left and right: 5%, top and bottom 0 */
  padding: 0 5%;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 5%; 
  /* makes everything in a single line */
  display: flex; 
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  margin: 25px 50px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}