
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  body {
    font-family: 'Mate SC', sans-serif;
  }
  ul {
    list-style-type: none;
  }
  .container .navbar {
  background-color: rgb(67, 172, 172);
  justify-content: center;
  }
  .navbar a {
    font-size: 18px;
    padding:    0em 5em;
    justify-content: center;
    border: black solid;
  }
  .text div{
  justify-content: flex-start;

  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }